<IfModule mod_rewrite.c>

RewriteEngine On

# Uncomment the following if insalled on domain root (like mywebsite.com)
#RewriteBase /

# Uncomment the following if installer into a subfolder (like mywebsite.com/pwdmanager/)
RewriteBase /pwdmanager

#blocca accesso alla cartella system
RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ /index.php?/$1 [L]


#blocca accesso alla cartella apication
RewriteCond %{REQUEST_URI} ^application.*
RewriteRule ^(.*)$ /index.php?/$1 [L]

#reindirizza le chiamate non valide ad index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]  
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

</IfModule>

<IfModule !mod_rewrite.c>
    # se non installato modrewrite
    ErrorDocument 404 /index.php
</IfModule> 